<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }
</style>
<h1>Qia Web Widgets</h1>
<div class="qia-paginators">
  <h2>Qia Paginators</h2>
  <qia-paginator current="2" total="3"></qia-paginator>
  <qia-paginator current="1" total="5"></qia-paginator>
  <qia-paginator current="3" total="7"></qia-paginator>
  <qia-paginator current="5" total="9"></qia-paginator>
  <div class="paged-content">
    <div class="page-container"></div>
    <div class="qia-paginator-container"></div>
  </div>
</div>
<div class="qia-skeletons">
  <h2>Qia Skeletons</h2>
  <qia-skeleton></qia-skeleton>
  <span class="qia-skeleton-container"></span>
</div>
